<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="\css\style.css">
  <link rel="stylesheet" href="\css\bulma_custom.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="\js\main.js"></script>
    <script src="\js\jquery.min.js"></script>
    <script src="\js\vue.min.js"></script>
</head>


<nav class="navbar is-fixed-top" id="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img  src="/res/templogo.png" alt="Logo">
      </a>

      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
               <span></span>
               <span></span>
               <span></span>
             </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <a  href="/" class="navbar-item is-active">
          Home
        </a>
        <a href="#" class="navbar-item">
          Experiments
        </a>
        <a href="/blog" class="navbar-item">
          Blog
        </a>
        <a href="https://github.com/taneland"  class="navbar-item">
                   <span class="icon">
                     <i class="fab fa-github"></i>
                   </span>
        </a>
        <a href="https://www.linkedin.com/in/fredrik-t%C3%A5neland-19b05b150/" class="navbar-item">
                     <span class="icon">
                       <i class="fab fa-linkedin"></i>
                     </span>
        </a>
        <span class="navbar-item">
                <a class="button " id="loginButton">
                  <span class="icon">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                  <span>Login</span>
                </a>
              </span>

      </div>
    </div>
  </div>
</nav>






<section class="section ">

    <th:block th:each="blog_post : ${all_blog_posts}">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
    <article class="message" >
        <div class="message-header">
            <p class="is-pulled-left">[[${blog_post.title}]]</p>
            By: [[${blog_post.author}]]

        </div>
        <div class="message-body ">
            [[${blog_post.content}]]
        </div>
    </article>
        </div>
    </div>
    </th:block>
</section>


<script>

new Vue({
el:'#add-blog',
    data() {
       return{
            blog:{
                 title:"",
                 content:"",
                 author:""
            },
            authors:['Fredrik', 'Author 2', 'Vue Author']
       }
    },
    methods: {

    }
})

</script>

<script>
        var modal = document.getElementById('myModal');
        var btn = document.getElementById("addButton");
        var span = document.getElementById("mySpan");
        var bg = document.getElementById("modalBg");

  // When the user clicks the button, open the modal
  btn.onclick = function() {
      modal.className = "modal is-active"
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
      modal.className = "modal"
  }

  // When the user clicks anywhere outside of the modal, close it
  bg.onclick = function(event) {
          modal.className = "modal"

  }
  </script>

</body>
</html>
