<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="\css\style.css">
  <link rel="stylesheet" href="\css\bulma_custom.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="\js\main.js"></script>
    <script src="\js\jquery.min.js"></script>
    <script src="\js\vue.min.js"></script>
</head>


<nav th:replace="logged_out/fragments/navbar :: nav"></nav>
<main>
<section class="section ">

    <th:block th:each="blog_post : ${all_blog_posts}">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
    <article class="message" >
        <div class="message-header">
            <p class="is-pulled-left">[[${blog_post.title}]]</p>
            By: [[${blog_post.author}]]

        </div>
        <div class="message-body ">
            [[${blog_post.content}]]
        </div>
    </article>
        </div>
    </div>
    </th:block>
</section>
    <div th:replace="logged_out/fragments/login_form :: login_form"></div>
</main>

<footer th:replace="common_fragments/footer :: footer"></footer>

<script>

new Vue({
el:'#add-blog',
    data() {
       return{
            blog:{
                 title:"",
                 content:"",
                 author:""
            },
            authors:['Fredrik', 'Author 2', 'Vue Author']
       }
    },
    methods: {

    }
})

</script>

<script>
        var modal = document.getElementById('myModal');
        var btn = document.getElementById("loginButton");
        var span = document.getElementById("mySpan");
        var bg = document.getElementById("modalBg");

  btn.onclick = function() {
      modal.className = "modal is-active"
  }

  span.onclick = function() {
      modal.className = "modal"
  }


  bg.onclick = function(event) {

          modal.className = "modal"

  }
  </script>
<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {


    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);


    if ($navbarBurgers.length > 0) {


      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {


          var target = $el.dataset.target;
          var $target = document.getElementById(target);


          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

    });
</script>
</body>
</html>
