<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue Test</title>

    <link rel="stylesheet" href="\css\simple.css">
    <link rel="stylesheet" href="\css\bulma_custom.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="./javascript/vue.js"></script>
</head>


<body>
<th:block th:fragment="nav">
    <nav class="navbar is-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <img  src="/res/templogo.png" alt="Logo">
                </a>

                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
               <span></span>
               <span></span>
               <span></span>
             </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                    <a  href="/" class="navbar-item is-active">
                        Home
                    </a>
                    <a href="/admin/experiments" class="navbar-item">
                        Experiments
                    </a>
                    <a href="/admin/blog" class="navbar-item">
                        Blog
                    </a>
                    <a href="https://github.com/taneland"  class="navbar-item">
                   <span class="icon">
                     <i class="fab fa-github"></i>
                   </span>
                    </a>
                    <a href="https://www.linkedin.com/in/fredrik-t%C3%A5neland-19b05b150/" class="navbar-item">
                     <span class="icon">
                       <i class="fab fa-linkedin"></i>
                     </span>
                    </a>
                    <span class="navbar-item">
                        <form class="" action="/logout/" method="post">
                         <button class="button" type="submit">
                           <span class="icon">
                           <i class="fa fa-lock" aria-hidden="true"></i>
                       </span>
                       <span>Log Out</span>
                                </button>
                        </form>
              </span>

                </div>
            </div>
        </div>
    </nav>


</th:block>
</body>
</html>
